:root {
  --primaryColor: #68e1fd;
  --headingColor: #000f37;
  --paragraphColor: #4f4f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* Links */

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--primaryColor);
}

/* Icons */

.icon {
  width: 25px;
  height: 25px;
}

/* Header Section */

.header-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Top */

.header-top {
  position: relative;
  height: 100px;
  padding: 3rem;
}

header ul li {
  display: inline-block;
}

.logo {
  fill: var(--primaryColor);
}

.logo-text {
  font-size: 2.2rem;
  font-weight: 700;
}

.icon-menu {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

/* Header Hero */

.header-hero {
  display: flex;
  padding: 7rem;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  max-width: 500px;
  min-width: 480px;
  margin-right: 1.5em;
}

.hero-content h1 {
  line-height: 1.3em;
  margin-bottom: 0.3em;
}

.hero-img {
  display: block;
  min-width: 300px;
  width: 35%;
  margin-top: 1em;
}

.btn {
  background-color: var(--primaryColor);
  border: none;
  font-weight: 800;
  margin-top: 2em;
  padding: 0.5em 1.8em;
  cursor: pointer;
}
